<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!-- 配置mybatis运行环境 -->

    <!-- 将mapper文件加入到配置文件中 -->
    <mappers>
        <package name="com.zust.edu.dao"/>
    </mappers>
</configuration>